:root{
    --radius: 20px;
    --main-color: rgb(53, 206, 53);
    --bg-color: rgb(158, 255, 158);
    --card-bg: whitesmoke;
    --box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
body{
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--main-color);
    text-align: center;
    border-bottom: 1px solid black;
}
header h1 {
    margin-top: 0;
}

nav{
    text-align: center;
}

nav a{
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    margin: 0 10px;
    color: black;
}

nav a:hover{
    color: red;
}

section.intro{
    text-align: center;
}

section.courses-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
article.courses-card{
    background-color: var(--card-bg);
    border-radius: var(--radius);
    margin: 20px;
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 20px;
    transition: 0.3s;
    width: 100%;
    max-width: 300px;
}
article.courses-card:hover{
    transform: translate(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}
footer{
    text-align: center;
}
a{

    font-weight: bold;
    text-decoration: none;
    color: black;
}
a:hover{
    font-size: large;
    color: red;
}


@media (max-width: 576px){
    article.courses-card{width: 45%;}
}

@media (max-width: 900px){
    article.courses-card{width: 300px;}
}